In [4]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
import numpy as np
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
from sklearn import linear_model
import statsmodels.formula.api as smf
import warnings
import numpy as np
from scipy import stats
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss
from sklearn import discriminant_analysis, neighbors
from sklearn.metrics import roc_auc_score
from sklearn.pipeline import Pipeline
from sklearn.metrics import roc_curve
from sklearn.neural_network import MLPClassifier, MLPRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV

warnings.simplefilter(action='ignore', category=FutureWarning)

colors = ["cornflowerblue", "indianred", "darkseagreen", "plum", "dimgray"]

In [7]:

df=pd.read_csv('diabetes.csv')
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,diabetes
0,Female,80.0,0,1,never,25.19,0
1,Female,54.0,0,0,No Info,27.32,0
2,Male,28.0,0,0,never,27.32,0
3,Female,36.0,0,0,current,23.45,0
4,Male,76.0,1,1,current,20.14,0
...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,0
99996,Female,2.0,0,0,No Info,17.37,0
99997,Male,66.0,0,0,former,27.83,0
99998,Female,24.0,0,0,never,35.42,0
99999,Female,57.0,0,0,current,22.43,0

In [6]:
df=pd.read_csv('diabetes.csv')
df= pd.get_dummies(df, columns=['smoking_history', 'gender'])
target = 'diabetes'
y = df[target]
X=df.copy()
X=X.drop(target, axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


df.head()

,age,hypertension,heart_disease,bmi,diabetes,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current,gender_Female,gender_Male,gender_Other
0,80.0,0,1,25.19,0,False,False,False,False,True,False,True,False,False
1,54.0,0,0,27.32,0,True,False,False,False,False,False,True,False,False
2,28.0,0,0,27.32,0,False,False,False,False,True,False,False,True,False
3,36.0,0,0,23.45,0,False,True,False,False,False,False,True,False,False
4,76.0,1,1,20.14,0,False,True,False,False,False,False,False,True,False